.blog-item {
  &:not(:last-child) {
    padding-bottom: var(--padding);
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    width: unset !important;
  }

  &__date {
    font-size: 14px;
    text-align: right;
    width: unset !important;
  }

  &__image {
    object-fit: cover;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-height: 200px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    &-skeleton {
      margin-top: var(--margin-xs);
      height: 16px;
      background-color: var(--davys-grey);
    }
  }

  @media (hover) {
    &:hover {
      .blog-item__image {
        transform: scale(1.02);
      }
    }
  }
}
