.home {
  &__body {
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    padding-top: var(--padding);
    gap: var(--padding-sm);


    div {
      color: var(--pale-spring-bud);
      width: 100%;
      border-radius: var(--border-radius);
      max-height: 420px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__preface {
    padding-top: var(--padding-lg);
  }
}

.panel {
  position: relative;

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 18px;

    a {
      transition: filter 0.5s ease;
      
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}

.socials {
  background: var(--davys-grey);
  padding: var(--padding);
}

.medium {
  background: var(--gray-web);
  overflow: scroll;

  &__articles {
    max-height: unset !important;
    padding: var(--padding-sm) var(--padding);
  }

  .panel__header {
    background: var(--gray-web);
    padding: var(--padding);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.8);
  }
}