.social {
  margin: var(--margin) 0;
  max-height: 50px;
  border-radius: var(--border-radius);
  background-color: var(--onyx);

  a {
    padding: var(--padding-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    transition: backdrop-filter 0.5s ease;

    &:hover {
      backdrop-filter: brightness(0.8);
    }
  }

  &__label {
    color: #fff;
  }
}