@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--onyx);
    border-radius: 5px;
    padding: 5px;

    &:hover {
      background-color: #2b2b2b;
    }
  }
}